<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Service</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="bg-wapper"></div>
    <div class="main">
      <main class="body">
        <h1 class="title">Đơn hàng trong hôm nay^^</h1>

        <!-- start order list -->
        <div class="order-list">
          <div class="order-item">
            <div class="order-item-info-wrapper">
              <div class="order-item-info">
                <div class="order-item-wapper">
                  <img
                    class="order-item-image"
                    src="https://29foods.com/media/news/419_ga_quay.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <strong>Gà Luộc Đặc Biệt</strong>
                  <div class="order-item-quantity">
                    <p>5</p>
                    <p>66.000d</p>
                  </div>
                </div>
              </div>

              <div>
                <p>Nguyen Cong Minh</p>
                <p>033 9900 890</p>
                <p>29 Lieu Giai, Ngoc Khanh, Ba Dinh, Ha Noi</p>
              </div>
            </div>

            <span>Đã thanh toán</span>
            <button class="btn btn-success">Chuẩn bị</button>
          </div>
        </div>
        <!-- end order list -->
      </main>
    </div>
  </body>
</html>
